---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { siteTitle, siteSeoDesc, siteSeoTitle } from "../constant/constant";

const name = "AgungDK";
---

<Layout title={siteTitle} seoTitle={siteSeoTitle} , seoDesc={siteSeoDesc}>
  <div class="w-8/12 md:w-6/12 mx-auto">
    <h1
      class="text-5xl md:text-12xl text-center drop-shadow-[0px_35px_35px_rgb(18,18,18)]"
    >
      Hello, I'm {name}
    </h1>
    <div id="typed-strings">
      <p>I am a <strong>Mobile and Backend Developer</strong></p>
      <p>I <em>work</em> with Flutter, Jetpack Compose, Express and Hono</p>
    </div>

    <div class="text-center mt-6 font-medium"><span id="typed"></span></div>
  </div>
</Layout>

<script>
  import Typed from "typed.js";

  var typed = new Typed("#typed", {
    stringsElement: "#typed-strings",
    typeSpeed: 50,
    loop: true,
  });
</script>
