---

---

<footer class="text-center mt-auto py-4">
  <smalls
    >Copyright &copy; <span id="copyright"></span> | All rights reserved</smalls
  >
</footer>

<script>
  document.querySelector("#copyright")!!.textContent = new Date()
    .getFullYear()
    .toString();
</script>
