---
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import MainHead from "./MainHead.astro";

const { title, seoDesc, seoTitle } = Astro.props;
---

<html>
  <body class="bg-slate-900 text-white grid gap-0">
    <MainHead title={title} seoTitle={seoTitle} seoDesc={seoDesc} />
    <NavBar />
    <slot />
    <Footer />
    <style>
      body {
        font-family: "Carlito", san-serif;
        min-height: 100vh;
      }
    </style>
  </body>
</html>
